<div class="jumbotron text-center">
  <div class="container">
    <h1>EFEC Product Testing Lab</h1>
    <p>Use this site to help you book time in the EFEC Product Testing Lab. Click the button below that applies to you to get started!</p>
    <a type="button" class="btn btn-lg btn-default" href="https://outlook.office365.com/owa/calendar/1fa82611af96465381a36975ae91da43@EF.com/f5c01a435ebc45ae945e77e2b26ab4ea6564368641588734929/calendar.html">EFEC PD Team</a>
    <a type="button" class="btn btn-lg btn-primary" href="http://www.wenjuan.com/s/FJryy2/">Other EF/EFEC Staff</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
  Please make sure you've read the below agreement before booking the EFEC Product Development Room
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Agreement</h3>
      <ul>
        <li>You agree not to in any way damage any asset (physical or electronic) inside the room while using the room.</li>
        <li>You agree that for the time that you are using the room, all items inside the room are your responsibility and are considered in your care.</li>
        <li>You agree to keep the room tidy and clean and return it to a usable state before finishing and exiting the room.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Helpful Information</h3>
      <ul>
        <li>Room location: <b>Nashville</b>, B1, Shanghai Office</li>
        <li>Room owners: EFEC Product Development team</li>
        <li><b>Key Pickup: Pick up with Brendan Cooney (2F)</b></li>
        <li>Room uses: F2F (4-6 students), Workshop class (6-10 students), iLab (up to 6 students)</li>
        <li>Available equipment: Dell AIO, Various Dell PCs, Seewo Touchscreen, iPads, Samsung Galaxys, various phones, iBeacons and other tablets</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
